@media screen and (min-width:992px) {

  #dashboardwrapper nav .container-fluid,
  #dashboardwrapper nav .navbar-collapse,
  #dashboardwrapper nav .navbar-nav {
    flex-direction: column;
  }

  #dashboardwrapper nav {
    width: 25%;
    height: 100vh;
  }

  #dashboardwrapper {
    display: flex;
  }

  #dashboardwrapper main {
    width: 100%;
    margin-top: 116px;
    margin-left: 70px;
    margin-right: 70px;
  }
}

#mainfront {
    margin-top: 73px;
    margin-left: 132px;
    margin-right: 132px;
}

.resize-none {
  resize: none;
}